---
import { SubtitleSection, Section, CtaButton } from "../ui";
---
<Section>
  <SubtitleSection title="Trabajemos Juntos" />
  <p
    class="text-lg text-center prose text-gray-600 dark:text-gray-300 mb-8 max-w-2xl mx-auto"
  >
    Siempre me interesan nuevas oportunidades y proyectos emocionantes. No
    dudes en contactarme.
  </p>
  <article class="flex flex-row items-center justify-center gap-4">
    <!-- <CtaButton 
      variant="primary" 
      href="/projects"
    >
      Mis proyectos
    </CtaButton> -->
    <CtaButton
      variant="primary"
      href="mailto:armandocrescencio343@gmail.com"
    >
      Contactame
    </CtaButton>
  </article>
</Section>