---
import { ExperienceTimeline, Section, TitleSection } from "../ui";
---

<Section id="experience" className="mb-14 md:mb-20">
  <TitleSection title="Experiencia laboral" />
  <div class="w-24 h-px bg-gray-700 mx-auto"></div>
</Section>
<Section>
  <ExperienceTimeline />
</Section>