---
import '@fontsource-variable/onest';
import { ClientRouter } from "astro:transitions";
import { BaseHead, Footer, Nav } from "../components/ui";

interface Props {
	title: string
	description: string
}

const { title, description } = Astro.props
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead 
			title={title} 
			description={description} 
		/>
		<ClientRouter />
	</head>
	<body class='bg-gradient-to-br from-[#101010] via-sky-950 to-gray-900 min-h-dvh flex flex-col bg-no-repeat bg-fixed'>
		<header>
			<Nav />
		</header>
		<main>
			<slot />
		</main>
		<Footer />
	</body>
</html>
