---
import '@fontsource-variable/onest';
import { ClientRouter } from "astro:transitions";
import { BaseHead, Footer, Nav } from "../components/ui";

interface Props {
	title: string
	description: string
}

const currentLanguage = Astro.currentLocale || 'es'
console.log(currentLanguage)
const { title, description } = Astro.props
---

<!doctype html>
<html lang={currentLanguage}>
	<head>
		<BaseHead 
			title={title} 
			description={description} 
		/>
		<ClientRouter />
	</head>
	<body class="bg-fixed bg-no-repeat h-screen bg-neutral-950 bg-[radial-gradient(ellipse_80%_80%_at_50%_-20%,rgba(120,119,198,0.3),rgba(255,255,255,0))]">
		<header>
			<Nav />
		</header>
		<main>
			<slot />
		</main>
		<Footer />
	</body>
</html>
