---
import { twMerge } from "tailwind-merge"

const baseStyles: String = "inline-flex items-center gap-2.5 p-[1px] px-3 rounded-full font-medium text-xs font-medium"
type ButtonVariant = 'primary' | 'secondary' | 'text' | 'subtle'

interface Props {
  variant?: ButtonVariant
  className?: string
}

const buttonVariants: Record<ButtonVariant, string> = {
  primary: "border border-[#38bdf8]  outline-[#38bff888] bg-gray-900 text-white",
  secondary: "border border-gray-700 bg-gray-900 text-gray-300",
  text: "text-[#38bdf8]",
  subtle: "bg-[#38bff81a] border border-[#38bff840] text-[#38bdf8]"
}

const { variant = 'primary', className = '' } = Astro.props
---

<span
  class={twMerge(`${baseStyles} ${buttonVariants[variant]} ${className}`)}
>
  <slot />
</span>