---
import { LinkedinIcon } from "../icons/contact";
import GithubIcon from "../icons/tecnologies/GithubIcon.astro";
import CtaBtnRotatingBG from "./CtaBtnRotatingBG.astro";
import SocialPill from "./SocialPill.astro";
---

<footer class="border-t border-gray-800 bg-[#101010]/80 transition-colors">
  <section class="max-w-6xl mx-auto px-6 py-8">
    <article class="flex flex-col md:flex-row items-center justify-between gap-4 text-sm">
      <p class="text-gray-400 text-center md:text-left">
        © 2025 <a class="hover:text-white" href="https://github.com/Chencho34">Checho34.</a> Hecho con <span class="font-semibold text-sky-400">Astro</span>
      </p>
      <section class="flex flex-col sm:flex-row items-center gap-2 sm:gap-6">
        <a
          class="text-gray-300 hover:text-sky-400 transition-colors"
          aria-label="Enviar correo"
        >
          armandocrescencio343@gmail.com
        </a>
        <article class="flex gap-3">
          <CtaBtnRotatingBG 
            className="md:px-4"
            target="_blank"
            href="https://github.com/Chencho34"                    
          >
            <GithubIcon class:list={"size-5 md:size-6"}  />
          </CtaBtnRotatingBG>
          <CtaBtnRotatingBG 
            className="md:px-4"
            href="https://www.linkedin.com/in/armando-cr/"
            target="_blank"  
          >
            <LinkedinIcon class:list={"size-5 md:size-6"} />  
          </CtaBtnRotatingBG>
        </article>
      </section>
    </article>
  </section>
</footer>