---
import { twMerge } from 'tailwind-merge'

interface Props {
  className?: string
}

const { className } = Astro.props
---

<!-- <section class=`mb-20 ${className}`>
  <slot>
</section> -->

<section class={twMerge('mb-20', className)}>
  <slot>
</section>