---
import { twMerge } from 'tailwind-merge'

interface Props {
  className?: string
  id?: string
}

const { className, id } = Astro.props
---

<section id={id} class={twMerge('mb-20', className)}>
  <slot>
</section>