---
import { twMerge } from "tailwind-merge"
interface Props {
  href: string;
  className?: string;
  target: "_blank" | "_self" | "_parent" | "_top";
}
const { className, href, target} = Astro.props
---
<a 
  href={href}
  class={twMerge('border rounded-full px-6 py-2 flex items-center justify-center gap-2 border-accent/30 bg-gray-900/30 text-text-primary text-sm  hover:scale-105 transition-transform', className)} 
  target={target}
>
  <slot />
</a>