<a 
  href={Astro.props.href}
  class="border rounded-full px-3 py-2 flex items-center justify-center gap-2 border-accent/30 bg-gray-900/30 text-text-primary font-medium text-sm  hover:scale-105 transition-transform" 
  target="_blank"
  {...Astro.props}
>
  <slot />
</a>