---
import { twMerge } from 'tailwind-merge'
interface Props {
  title: string
  className?: string
}

const { title, className } = Astro.props
---

<h2 class={twMerge('text-center text-xl md:text-3xl font-bold bg-gradient-to-r from-white to-slate-200 bg-clip-text text-transparent mb-12', className)}>
  { title }
</h2>


