---
interface Props {
  title: string
}

const { title } = Astro.props
---

<h2 class="text-center text-3xl font-bold bg-gradient-to-r from-white to-slate-200 bg-clip-text text-transparent mb-12">
  { title }
</h2>