---
interface Props {
  title: string
  className?: string
}
const { title, className } = Astro.props
---

<h1 class=`leading-16 text-3xl md:text-5xl text-center font-bold bg-gradient-to-r from-cyan-300 via-blue-400 to-purple-400 bg-clip-text text-transparent mb-4 md:mb-6 drop-shadow-lg ${className}`>
  { title }
</h1>
